extends layout


block content

  ul.parallax-viewport.resize-page#home
    li.container
        .visible-phone.carousel-replacement
          h1 Welcome!
        #myCarousel.carousel.slide.hidden-phone
          .carousel-inner
            .item.active
              .container
                .carousel-caption
                  h1 The Web.
                  h2 The Final Frontier.
                  p Thank you for visiting our website! Have a look around, or 
                    a.contact-us(href="#") say hi.

            .item
              .container
                .carousel-caption
                  h1 Services
                  p Web Apps and Widget Development
                  .carousel-cols
                    .carousel-col
                      p
                        | Wireframes
                      p.huge
                        i.icon.icon-th
                    .carousel-col
                      p
                        | User Interfaces
                      p.huge
                        i.icon.icon-columns
                    .carousel-col
                      p
                        | Prototypes
                      p.huge
                        i.icon.icon-plane
                    .carousel-col
                      p
                        | Search Engine Visibility
                      p.huge
                        i.icon.icon-eye-open

            .item
              .container
                .carousel-caption
                  h1 Technology
                  p Web technology is a tool used to delight our customers, so we choose the best fit for each project. Favourites include:
                  .carousel-cols
                    .carousel-col
                      p
                        | HTML 5
                      p
                        img(src="/images/HTML5_Logo_200.png")
                    .carousel-col
                      p
                        | NodeJS
                      p
                        img(src="/images/nodejs-light.png")
                    .carousel-col
                      p
                        | MongoDB
                      p
                        img( src="/images/mongodb-leaf.png")
                    .carousel-col
                      p
                        | CSS3
                      p
                        img(src="/images/HTML5_Styling_256.png")
                    .clearfix
            .item
              .container
                .carousel-caption
                  h1 Countable
                  p We write web apps for tomorrow.
                  img.logo-massive(src="/images/logos/COUTNABLE-Infinti-EMBLEM.bw.png")
          a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
          a.right.carousel-control(href='#myCarousel', data-slide='next') ›
    li.parallax-layer.layer1
    li.parallax-layer.layer2
    li.parallax-layer.layer3
      
      img.tree-left(src='/images/tree_left.png', width='731', height='1161')
      img.tree-right(src='/images/tree_right.png', width='357', height='1170')

  .resize-page.services.page-shade#mission

    .container

      h1 Mission
      .row
        .span5
          br
        .span7
          section
            h3 Your Web App.
            p  Your web application will push the boundaries of today's Web into a new era of superior online experience to delight your customers.
          section
            h3 Our Obsession.
            p Our obsession is to establish you a leader in your industry's place on the internet.
            p A dedicated team of Vancouer's best and brightest, with decades of experience building modern software solutions, we are the ones for the job.
          section
            h3 Countable.
            p 
              | We believe the problem space of apply web technology to business problems is "countable" in the mathematical sense.
              | This means we have faith that taking consistent, orderly steps we will always arrive at the solution.


  .resize-page.projects.marketing.page-shade#clients
    .container
      h1 Clients
      p
        | Some customers we've had the pleasure of writing software for.

      .row
        .span4
          .client
            h4 HTML Comment Box
            p.repr
              i.icon.icon-comments(style="font-size:150px;line-height:110px")
            p HCB is a free, simple to use comments widget used by tens of thousands of small businesses, hobbyists, non-profits, and others.
            p.visit
              a(href="http://www.htmlcommentbox.com", target="_blank") Visit site &rsaquo;

        .span4
          .client
            h4 Ecotrust Canada
            p.repr
              img(src='/images/thisfish.png')
            p Ecotrust is a non-profit in BC, Canada with a focus on commerical fisheries and First Nations land use, title and rights. We have developed 
              a(href="thisfish.info") ThisFish
              |  traceability software, Electronic commerical fishery monitoring software, web based atlases and an ebook reader.
            p.visit
              a(href="http://www.thisfish.info", target="_blank") Visit site &rsaquo;

        .span4
          .client
            h4 Mr. B-Listed
            p.repr
              img(src='/images/mr-b-listed.png')
            p
              | Mr. B-Listed is web based real estate brokerage that aims to make it accessible, safe and affortable to sell real estate 
              a(href="http://mrblisted.ca", target="_blank") for sale by owner
              | .
            p.visit
              a(href="http://mrblisted.ca", target="_blank") Visit site &rsaquo;


