extends layout


block content

  ul.parallax-viewport.page.resize-page#what
    li.parallax-layer.layer1
    li.parallax-layer.layer2
    li.parallax-layer.layer3
    li.overlay
      img.logo(src="/images/giant-infinity.png")
      .slogan
        p.we
          | WE WRITE
        p.tomorrows
          | TOMORROW'S
        p.web-apps
          | WEB APPS

  .page.resize-page.page-shade#why

    .container
      h1(data-bottom-top="opacity:0", data-center-bottom="opacity:1") Why
      p (why us?)
      .row
        .span5
          .nasa(data-bottom-top="transform:translateX(-600px) rotateZ(-161deg);", data-center-top="transform:translateX(0px) rotateZ(0deg);")
        .span7
          section(data-center-top="transform:rotateZ(0deg);", data-top-top="transform:rotateZ(-18deg);")
            h3 Your Web App.
            p  Your web application will push the boundaries of today's Web into a new era of superior online experience to delight your customers.
          section(data-center-top="transform:rotateZ(0deg);", data-top-top="transform:rotateZ(-18deg);")
            h3 Our Obsession.
            p Our obsession is to establish you as a leader in your industry's place on the internet.
            p A dedicated team of Vancouver's best and brightest, with decades of experience building modern software solutions, we are the ones for the job.


  .page.resize-page.page-shade#how
    h1(data-bottom-top="opacity:0", data-center-bottom="opacity:1") How
    p (how we do it.)
    .carousel.slide#how-carousel
      .carousel-inner
        
        .item.active
          .container
            .carousel-caption
              h3
               | How to make Web Apps
              .anchor
                .howto.wireframes(data-bottom-bottom="transform:rotateZ(-90deg);", data-top-top="transform:rotateZ(90deg);")
                  p.title Wireframes
                  p.illustration
                    i.icon.icon-th
                .howto.user-interfaces(data-bottom-bottom="transform:rotateZ(90deg);", data-top-top="transform:rotateZ(-90deg);")
                  p.title User Interfaces
                  p.illustration
                    i.icon.icon-columns
                .howto.prototypes(data-bottom-bottom="transform:rotateZ(-90deg);", data-top-top="transform:rotateZ(90deg);")
                  p.title Prototypes
                  p.illustration
                    i.icon.icon-plane
                .howto.seo(data-bottom-bottom="transform:rotateZ(90deg);", data-top-top="transform:rotateZ(-90deg);")
                  p.title Search Engine Visibility
                  p.illustration
                    i.icon.icon-eye-open
                .howto.responsive(data-bottom-bottom="transform:rotateZ(-90deg);", data-top-top="transform:rotateZ(90deg);")
                  p.title Responsive Design
                  i.icon.icon-desktop.smaller
                  i.icon.icon-laptop.smaller
                  i.icon.icon-tablet.smaller
                  i.icon.icon-mobile-phone.smaller

        .item
          .container
            .carousel-caption
              h3 How the Apps Tick
              p As web technology enthusiasts, we're confident in choosing the best tools for your project. Favourites include:
              a(href="http://www.postgresql.org/", target="_blank")
                img(src="/images/howto-postgresql.png", width="200")
              a(href="http://nodejs.org/", target="_blank")
                img(src="/images/howto-nodejs.png", width="200")
              a(href="http://www.mongodb.org/", target="_blank")
                img(src="/images/howto-mongodb.png", width="200")
              a(href="http://webdesignledger.com/tips/html5-css3-take-your-design-to-another-level", target="_blank")
                img(src="/images/howto-html5-css3.png", width="200")
        .item
          .container
            .carousel-caption
              h3 How we Always Find a Way
              p
                img(src="/images/logo-halftone.png")
              p 
                | We believe the problem space of revolutionizing business domains with web technology is "countable" in the mathematical sense.
                | This means we have faith that by taking consistent, orderly steps we will always arrive at the solution.
      a.left.carousel-control(href='#how-carousel', data-slide='prev') ‹
            a.right.carousel-control(href='#how-carousel', data-slide='next') ›

  .page.resize-page.page-shade#who
    .container
      h1(data-bottom-top="opacity:0", data-center-bottom="opacity:1") Who
      p
        | (who we've had the pleasure of writing software for.)

      .row
        .span4
          .client
            p.repr
              i.icon.icon-comments(style="font-size:150px;line-height:110px")
            p HCB is a free, simple to use comments widget used by tens of thousands of small businesses, hobbyists, non-profits, and others.
            p.visit
              a(href="http://www.htmlcommentbox.com", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/thisfish.png')
            p Ecotrust is a non-profit in BC, Canada with a focus on commercial fisheries and First Nations land use, title and rights. We have developed 
              a(href="http://thisfish.info") ThisFish
              |  traceability software, Electronic commerical fishery monitoring software, web based atlases and an ebook reader.
            p.visit
              a(href="http://thisfish.info", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/mr-b-listed.png')
            p
              | Mr. B-Listed is web based real estate brokerage that aims to make it accessible, safe and affordable to sell real estate 
              a(href="http://mrblisted.ca", target="_blank") for sale by owner
              | .
            p.visit
              a(href="http://mrblisted.ca", target="_blank") Visit site &rsaquo;

      .row
        .span4
          .client
            p.repr
              img(src='/images/emergeo.gif')
            p EmerGeo needed help with specific javascript programming on their software, and we were happy to oblige.
            p.visit
              a(href="http://www.emergeo.com/", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/logo_shiftonline.png')
            p We help Shift Online with custom web back end coding for large scale ecommerce using Django.
            p.visit
              a(href="http://www.shiftonline.com/", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/kmc.png')
            p
              | Real-time shift scheduling and take-a-number web applications.
            p.visit
              a(href="http://kmc.countable.ca/", target="_blank") View App &rsaquo;
      h3 Sub-Contracts
      p We write a lot of code for other local developers. Is your team missing a javascript ninja or backend guru? We can help!

  .page.resize-page.page-shade#credits(data-bottom-top="background-color:rgb(255,255,255)", data-center-top="background-color:rgb(0,0,0)")
    .container
      h1 credits
      p Web design by
      p
        a(href="http://newbrandthing.com", target="_blank")
          img(src="/images/nbt.png")

