extends layout


block title
  | Django and javascript Web App Developer in Vancouver, BC · Countable


block meta
  meta(name='description', content='Vancouver web App and widget developer.')


block content
  
  .resize-page.page.page-shade#what
    .overlay
      img.logo(src="/images/giant-infinity.png")
      .slogan
        p.we
          | WE WRITE
        p.tomorrows
          | TOMORROW'S
        p.web-apps
          | WEB APPS

  .page.resize-page.page-shade#why(data-bottom-top="opacity:0", data-center-center="opacity:1", data-top-bottom="opacity:0")

    .container
      h1 Why
      p (why us?)
      section
        h3 Your Web App.
        p  Your web application will push the boundaries of today's Web with a superior online experience.
      section
        h3 Our Obsession.
        p Let us help you lead your industry in web based tech.
        p We're a dedicated team of Vancouver's most driven web technology engineers with decades of experience in full stack web applications using tools like Django (python) and javascript.


  .page.resize-page.page-shade#how(data-bottom-top="opacity:0", data-center-center="opacity:1", data-top-bottom="opacity:0")
    h1 How
    p (how we do it.)
    .carousel.slide#how-carousel
      .carousel-inner
        
        .item.active
          .container
            .carousel-caption
              h3
               | How to make Web Apps
              .anchor
                .howto.wireframes(data-bottom-bottom="transform:rotateZ(-90deg);", data-top-top="transform:rotateZ(90deg);")
                  p.title Wireframes
                  p.illustration
                    i.icon.icon-th
                .howto.user-interfaces(data-bottom-bottom="transform:rotateZ(90deg);", data-top-top="transform:rotateZ(-90deg);")
                  p.title User Interfaces
                  p.illustration
                    i.icon.icon-columns
                .howto.prototypes(data-bottom-bottom="transform:rotateZ(-90deg);", data-top-top="transform:rotateZ(90deg);")
                  p.title Prototypes
                  p.illustration
                    i.icon.icon-plane
                .howto.seo(data-bottom-bottom="transform:rotateZ(90deg);", data-top-top="transform:rotateZ(-90deg);")
                  p.title Search Engine Visibility
                  p.illustration
                    i.icon.icon-eye-open
                .howto.responsive(data-bottom-bottom="transform:rotateZ(-90deg);", data-top-top="transform:rotateZ(90deg);")
                  p.title Responsive Design
                  i.icon.icon-desktop.smaller
                  i.icon.icon-laptop.smaller
                  i.icon.icon-tablet.smaller
                  i.icon.icon-mobile-phone.smaller


        .item
          .container
            .carousel-caption
              h3 Tchnology
              p As web technology enthusiasts, we recognize that choosing the best tools for your project is a key ingredient to success. Favourites include:
              a(href="http://www.postgresql.org/", target="_blank")
                img(src="/images/howto-postgresql.png", width="150")
              a(href="http://djangoproject.com/", target="_blank")
                img(src="/images/django-logo-negative.png", width="150")
              a(href="http://nodejs.org/", target="_blank")
                img(src="/images/howto-nodejs.png", width="150")
              a(href="http://www.mongodb.org/", target="_blank")
                img(src="/images/howto-mongodb.png", width="150")
              a(href="http://webdesignledger.com/tips/html5-css3-take-your-design-to-another-level", target="_blank")
                img(src="/images/howto-html5-css3.png", width="150")
        .item
          .container
            .carousel-caption
              h3 How we Always Find a Way
              p
                img(src="/images/logo-halftone.png")
              p 
                | We believe the problem space of revolutionizing business domains with web technology is "countable" in the mathematical sense.
                | This means we have faith that by taking consistent, orderly steps we will always arrive at the solution.
        
        .item
          .container
            .carousel-caption
              h3 How much?
              p
                | We offer competitive pricing, and lower total project cost by executing the work faster.
              p
                span.crazybig $99
                | per hour
              p
                | Word directly with the developer in an agile development workflow.
              p
                | Don't be shy, we offer free consultations!
      
      a.left.carousel-control(href='#how-carousel', data-slide='prev') ‹
      a.right.carousel-control(href='#how-carousel', data-slide='next') ›

  .page.resize-page.page-shade#who(data-bottom-top="opacity:0", data-center-center="opacity:1", data-top-bottom="opacity:0")
    .container
      h1 Who
      p
        | (who we've had the pleasure of writing software for.)

      .row
        .span4
          .client
            p.repr
              i.icon.icon-comments(style="font-size:150px;line-height:110px")
            p HCB is a free, simple to use comments widget used by tens of thousands of small businesses, hobbyists, non-profits, and others.
            p.visit
              a(href="http://www.htmlcommentbox.com", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/thisfish.png')
            p Ecotrust is a non-profit in BC, Canada with a focus on commercial fisheries and First Nations land use, title and rights. We have developed 
              a(href="http://thisfish.info") ThisFish
              |  traceability system (Django) ; Electronic commerical fishery monitoring software, Django based web atlases and an ebook reader.
            p.visit
              a(href="http://thisfish.info", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/mr-b-listed.png')
            p
              | WelListed is web based real estate brokerage that aims to make it accessible, safe and affordable to sell real estate 
              a(href="http://mrblisted.ca", target="_blank") for sale by owner
              | .
            p.visit
              a(href="http://mrblisted.ca", target="_blank") Visit site &rsaquo;

      .row
        .span4
          .client
            p.repr
              img(src='/images/emergeo.png')
            p EmerGeo needed help with specialized javascript programming on their software.
            p.visit
              a(href="http://www.emergeo.com/", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/dogelet.png')
            p Dogelet, a digital currency and goods marketplace.
            p.visit
              a(href="http://dogelet.com/", target="_blank") Visit site &rsaquo;

        .span4
          .client
            p.repr
              img(src='/images/kmc.png')
            p
              | Shift scheduling and take-a-number Django applications.
            p.visit
              a(href="http://kmc.countable.ca/", target="_blank") View App &rsaquo;
      
      h3 Sub-Contracts
      
      p We write a lot of code for other local developers. Is your team missing a javascript ninja or Django guru? We can help!

  .page.resize-page.page-shade#credits(data-bottom-top="opacity:0", data-center-center="opacity:1")
    .container
      h1 credits
      p Web design by
      p
        a(href="http://newbrandthing.com", target="_blank")
          img(src="/images/nbt.png")

