extends layout


block content

  ul.parallax-viewport.resize-page#home
    li.container
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active

              .container
                .carousel-caption
                  h1 About Us
                  p Countable is founded and run by two UBC computer science grads with the goal of pushing the boundaries of today's Web
                    | into a new era of better online experiences for all.
            .item

              .container
                .carousel-caption
                  h1 Services
                  p Web Apps and Widget Development
                  .carousel-cols
                    .carousel-col
                      p
                        | Wireframes
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")
                    .carousel-col
                      p
                        | User Interfaces
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")
                    .carousel-col
                      p
                        | Prototypes
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")
                    .carousel-col
                      p
                        | Search Engine Visibility
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")

            .item

              .container
                .carousel-caption
                  h1 Technology
                  .carousel-cols
                    .carousel-col
                      p
                        | HTML 5 &amp; CSS3
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")
                    .carousel-col
                      p
                        | NodeJS
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")
                    .carousel-col
                      p
                        | MongoDB
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")
                    .carousel-col
                      p
                        | Django
                      p
                        img(width=200, height=200, src="/images/HTML5_Logo_200.png")
                    .clearfix
          a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
          a.right.carousel-control(href='#myCarousel', data-slide='next') ›
    li.parallax-layer.layer1
    //li.parallax-layer.layer2
    li.parallax-layer.layer3
      
      img.tree-left(src='/images/tree_left.png', width='731', height='1161')
      img.tree-right(src='/images/tree_right.png', width='357', height='1170')

  .resize-page.services.marketing.page-shade

    .container
      h1#services Services

      .row
        .span4
          // img.img-circle(data-src='holder.js/140x140')
          i.icon.icon-comments
          h2 About Us
          p Countable is founded and run by two UBC computer science grads with the goal of pushing the boundaries of today's Web
            | into a new era of better online experiences for all.

        .span4
          // img.img-circle(data-src='holder.js/140x140')
          h2 Services
          p Web App and Widget Development
          ul
            li User Interfaces
            li Wireframes
            li Prototypes
            li Search Engine Visibility

        .span4
          // img.img-circle(data-src='holder.js/140x140')
          h2 Technology
          p Use the latest and the best
          ul
            li NodeJS with Express
            li MongoDB
            li Django
            li HTML5 and CSS3

  .resize-page.projects.marketing.page-shade
    .container
      h1#projects Projects

      .row
        .span4
          h3 1st Project
          img(data-src='holder.js/280x140')
        .span4
          h3 2nd Project
          img(data-src='holder.js/280x140')
        .span4
          h3 3rd Project
          img(data-src='holder.js/280x140')
