!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Countable · Modern Web Apps in Vancouver, BC
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')      
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    block meta
      meta(name='description', content='Vancouver web App and widget developer.')
    meta(name='author', content='Countable Web Productions')

    link(href="/stylesheets/bootstrap-combined.no-icons.min.css", rel="stylesheet")
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', href='/jparallax/css/jquery.parallax.css')

    link(rel="stylesheet", href="/font/futura/stylesheet.css")

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='shortcut icon', href='/favicon.ico')
    style
      .sloganimate
      {
        -webkit-animation: up 1s;
        -webkit-animation-fill-mode: forwards;
      }

      @-webkit-keyframes up
      {
        0% {
          -webkit-transform: scale(  1, 1 ) translate( 0, 1000px );
        }
        100% {
          -webkit-transform: scale( 1, 1 ) translate ( 0, 0 );
        }

      }

      .howto:hover
      {
        -webkit-animation: spin 60s;
        -webkit-animation-fill-mode: forwards;
      }

      @-webkit-keyframes spin
      {
        0% {
          -webkit-transform: scale(  1, 1 ) rotateZ(0);
        }
        100% {
          -webkit-transform: scale( 1, 1 ) rotateZ(7200deg);
        }

      }

  body(data-spy="scroll", data-target=".navbar")

    .navbar.navbar-fixed-top
      .navbar-inner

        //
           Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. 
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#')

        //
           Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
        .nav-collapse.collapse
          ul.nav.pull-right
            li.active
              a(href='/#what') What
            li
              a(href='/#why') Why
            li
              a(href='/#how') How
            li
              a(href='/#who') Who
    #wrap

      block content

      #push

      #footer
        .container
          p.credit
            | &copy; 2013 Countable Web Produtions
            |  | 
            a(href="/privacy-policy/") Privacy Policy


    #contact
      .contact-bar(data-0="background:!url('/images/diag-bg.png')", data-100="background:!#eff1e6")
        a.contact-us.contact-toggle MAKE CONTACT
        .close-contact
          | X

      .contact-body
        .contact-info
          p
            a.phone(href='mailto:info@countable.ca') info@countable.ca
          p
            a.phone(href='tel:7787091230') 778.709.1230

        .contact-form
          | <!-- start contact -->
          | <script data-sil-id='20d3d7a0-70b2-11e2-ba4f-770fb4d5a0ff'> (function() { var u='http://htmlcontactbox.com/widget/contact/20d3d7a0-70b2-11e2-ba4f-770fb4d5a0ff?page=',e,s=document.createElement("script"); s.type="text/javascript"; s.src=u+encodeURIComponent(window.location+''); s.async=true; e=document.getElementsByTagName("script");e=e[e.length-1]; e.parentNode.insertBefore(s, e); })(); </script><link rel="stylesheet" type="text/css" href="http://htmlcontactbox.com/bootstrap/css/bootstrap-widget.css" />
          | <div class='sil-widget-contact sil-widget' id='sil-widget-20d3d7a0-70b2-11e2-ba4f-770fb4d5a0ff'><a href='http://htmlcontactbox.com'>contact is loading <img class='sil-loading' src='http://htmlcontactbox.com/loading.gif'/>.</a></div>
          | <!-- end contact -->


    script(src="/javascripts/jquery-1.9.1.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/skrollr.min.js")
    script(src='/javascripts/jquery.scrollTo-1.4.3.1.js')
    script(src="/jparallax/js/jquery.parallax.js")
    script(src="/javascripts/js.js")

