!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Countable · Modern Web Apps in Vancouver, BC
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')      
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    block meta
      meta(name='description', content='Vancouver web App and widget developer.')
    meta(name='author', content='Countable Web Productions')

    link(href="/stylesheets/bootstrap-combined.no-icons.min.css", rel="stylesheet")
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/font/futura/stylesheet.css")

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel='shortcut icon', href='/favicon.ico')
    style

      ::-webkit-input-placeholder { /* WebKit browsers */
          color:    #0cbce3 !important;
          text-transform: uppercase;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:    #0cbce3 !important;
          text-transform: uppercase;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:    #0cbce3 !important;
          text-transform: uppercase;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
          color:    #0cbce3 !important;
          text-transform: uppercase;
      }


      @-webkit-keyframes up
      {
        0% {
          -webkit-transform: scale(  1, 1 ) translate( 0, 1000px );
        }
        100% {
          -webkit-transform: scale( 1, 1 ) translate ( 0, 0 );
        }

      }

      
      /* Contact drawer opener. */
      @-webkit-keyframes opener
      {
        0% {
          bottom: -170px;
        }
        100% {
          bottom: 0;
        }
      }

      /* Star background animation */
      @-webkit-keyframes stars {
        0% { -webkit-transform: scale(1); opacity: 0.1}
        30% {opacity: 1}
        100%   {-webkit-transform: scale(12); opacity: 0}
      }

    :stylus

      body
        background black

      .stars
        z-index -1
        background url(/images/layer1.png)
        opacity 0
        -webkit-animation-name stars
        -webkit-animation-duration 12s
        -webkit-animation-timing-function cubic-bezier(0.7,0,0.7,0)
        -webkit-animation-iteration-count infinite

        position fixed
        top 0
        left 0
        right 0
        bottom 0
        background-color black

      .layer02
        background url(/images/layer1.png)
        background-position 50px 25px
        -webkit-animation-delay -4s

      .layer03
        background url(/images/layer1.png)
        background-position 25px 50px
        -webkit-animation-delay -8s


  body(data-spy="scroll", data-target=".navbar")

    .navbar.navbar-fixed-top
      .navbar-inner

        //
           Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. 
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#')

        //
           Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
        .nav-collapse.collapse
          ul.nav.pull-right
            li.active
              a.local(href='/#what') What
            li
              a.local(href='/#why') Why
            li
              a.local.local(href='/#how') How
            li
              a.local(href='/#who') Who
    
    .stars.layer01
    .stars.layer03
    .stars.layer02

    #wrap

      block content

      #footer
        .container
          p.credit

            | &copy; 2014 Countable Web Productions
            |  | 
            a(href="/privacy-policy/") Privacy Policy
            |  | 
            a(href="/links") Links

    #contact
      .contact-bar(style="background:url(/images/diag-bg.png)")
        a.contact-us.contact-toggle MAKE CONTACT
        .close-contact
          | &times; 

      .contact-body
        .contact-info
          p
            a.phone(href='mailto:info@countable.ca') info@countable.ca
          p
            a.phone(href='tel:7787091230') 778.709.1230

        .contact-form
          | <!-- start contact -->
          | <script data-sil-id='20d3d7a0-70b2-11e2-ba4f-770fb4d5a0ff'> (function() { var u='http://htmlcontactbox.com/widget/contact/20d3d7a0-70b2-11e2-ba4f-770fb4d5a0ff?page=',e,s=document.createElement("script"); s.type="text/javascript"; s.src=u+encodeURIComponent(window.location+''); s.async=true; e=document.getElementsByTagName("script");e=e[e.length-1]; e.parentNode.insertBefore(s, e); })(); </script><link rel="stylesheet" type="text/css" href="http://htmlcontactbox.com/bootstrap/css/bootstrap-widget.css" />
          | <div class='sil-widget-contact sil-widget' id='sil-widget-20d3d7a0-70b2-11e2-ba4f-770fb4d5a0ff'><a href='http://htmlcontactbox.com'>contact is loading <img class='sil-loading' src='http://htmlcontactbox.com/loading.gif'/>.</a></div>
          | <!-- end contact -->

    script(src="/javascripts/jquery-1.9.1.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/skrollr.min.js")
    script(src="/javascripts/skrollr-pages.js")
    script(src='/javascripts/jquery.scrollTo-1.4.3.1.js')
    script(src="/javascripts/js.js")
    
    | <script type="text/javascript">
    |  var _gaq = _gaq || [];
    |  _gaq.push(['_setAccount', 'UA-8351010-1']);
    |  _gaq.push(['_setDomainName', 'countable.ca']);
    |  _gaq.push(['_trackPageview']);
    |  (function() {
    |    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    |    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    |    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    |  })();
    | </script>
