extends layout

block content
  
  .resize-page.page-shade
    h1 Links

    p
      | We use MixPanel for analytics.
      br
      | <a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>

