extends layout

block content
  
  .resize-page.page-shade
    h1 Privacy Policy
    h4 Introduction
    p
      | Countable Web Productions acts in accordance with the principles of fair information practice, and collects information as a convenience to software users. Personal information is not sold to third parties.
    h4 1. Notice
    p
      | Countable Web Productions collects and stores information entered into forms provided in our services.
    h4 2. Choice
    p
      | Consumers are given options with respect to whether and how personal information collected from them may be used for purposes beyond those for which the information was provided.
    h4 3. Access
    p
      | Consumers are free to view and contest the accuracy and completeness of data collected about them.
    h4 4. Security
    p
      | Countable Web Productions takes reasonable steps to assure that information collected from consumers is accurate and secure from unauthorized use.
