/* GLOBAL STYLES */
body {
  font: 14px "webfontregular", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #000;
}
.resize-page {
  background-color: #fff;
  text-align: center;
}
.resize-page h1:first-child {
  padding-top: 100px;
}
.page-shade {
  box-shadow: inset 0 0 100px 0 rgba(0,0,0,0.1);
}
a,
a:hover,
a:visited {
  text-decoration: underline;
  color: #666;
  cursor: pointer;
}
a:hover {
  color: #000;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
/* PARALLAX */
ul.parallax-viewport {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  list-style: none;
  margin: 0;
  min-height: 650px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
ul.parallax-viewport li.parallax-layer {
  bottom: 0;
  height: 650px;
  position: absolute;
  width: 100%;
}
ul.parallax-viewport li.parallax-layer.layer1 {
  background: url("/images/layer3.png") repeat-x 0 100%;
  width: 2020px;
}
ul.parallax-viewport li.parallax-layer.layer2 {
  width: 2120px;
}
ul.parallax-viewport li.parallax-layer.layer3 {
  width: 2320px;
}
ul.parallax-viewport li.parallax-layer.layer3 .tree-left {
  bottom: 0;
  height: 1161px;
  left: 0;
  position: absolute;
  width: 357px;
}
ul.parallax-viewport li.parallax-layer.layer3 .tree-right {
  bottom: 0;
  height: 1170px;
  position: absolute;
  right: 0;
  width: 357px;
}
/* Carousel base class */
.carousel {
  z-index: 100;
  position: absolute;
  top: 0px;
  margin-bottom: 60px;
}
.carousel .container {
  position: relative;
  z-index: 9;
  text-align: center;
}
.carousel .carousel-inner {
  position: relative;
}
.carousel .carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  background-color: transparent;
  border: 0;
  color: #fff;
}
.carousel .carousel-control:hover {
  color: #fff;
}
.carousel .item {
  height: 600px;
}
.carousel .item .huge {
  font-size: 100px;
}
.carousel .carousel-col {
  float: left;
  width: 25%;
  text-align: center;
}
.carousel .carousel-caption {
  background-color: transparent;
  position: static;
  padding: 0 20px 0 20px;
  top: 0;
  left: 40px;
  right: 40px;
  position: absolute;
}
.carousel .carousel-caption h1,
.carousel .carousel-caption h2,
.carousel .carousel-caption p {
  padding-bottom: 10px;
  margin: 0;
  color: #fff;
  line-height: 1.25;
  text-shadow: 0 1px 3px #000;
}
.carousel .carousel-caption h1 a,
.carousel .carousel-caption h2 a,
.carousel .carousel-caption p a {
  color: #fff;
  text-decoration: underline;
}
.carousel .carousel-caption h1 {
  padding: 50px 0 0 0;
}
.carousel .carousel-caption p {
  font-size: 16px;
}
.carousel .carousel-caption .btn {
  margin-top: 10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
/* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
/* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 80px;
  color: #fff;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
a.brand {
  background: url("/images/logos/COUNTABLE-LOGO-5.png") 0 9px no-repeat;
  width: 300px;
  height: 50px;
}
#navbar {
  font-weight: normal;
  height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #fff;
}
#navbar .navbar-inner {
  background-color: #fff;
  height: 50px;
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.1);
}
#navbar .nav li a {
  font-size: 12px;
  letter-spacing: 0.5em;
  padding-top: 15px;
  padding-bottom: 11px;
  border-top: 4px solid #ddd;
  color: #aaa;
}
#navbar .nav li.active a {
  box-shadow: none;
  border-top: 4px solid #000;
  color: #000;
}
#navbar .nav li:hover a {
  color: #000;
}
h1 {
  font-size: 130px;
  line-height: 110px;
}
h2 {
  font-size: 100px;
  line-height: 90px;
}
h3 {
  font-size: 50px;
  line-height: 40px;
}
h4 {
  font-size: 30px;
  line-height: 25px;
}
.client {
  min-height: 240px;
}
.client .repr {
  height: 150px;
}
#contact {
  letter-spacing: 0.5em;
  z-index: 500;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 -5px 0 0 rgba(0,0,0,0.1);
  padding: 17px;
}
#contact .contact-form,
#contact .close-contact {
  display: none;
}
#contact .contact-form textarea {
  height: 60px;
}
#contact .contact-form input {
  height: 35px;
}
#contact .contact-form input,
#contact .contact-form textarea {
  border: 2px solid #000;
}
#contact .contact-form button {
  background: #000;
  color: #fff;
}
#contact p a {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
}
#contact .contact-details i {
  font-size: 16px;
}
#contact .contact-details a {
  margin-right: 50px;
}
#contact.open {
  height: 210px;
}
#contact.open .container {
  background-image: url("/images/shokunin_World_Map.png");
  background-position: 360px 20px;
  background-repeat: no-repeat;
  position: relative;
  height: 210px;
}
#contact.open .contact-us1 {
  display: none;
}
#contact.open .contact-form {
  z-index: 550;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  font-family: Arial;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}
#contact.open .contact-form label {
  display: none;
}
#contact.open .close-contact {
  display: block;
  top: 0;
  right: 10px;
  position: absolute;
  z-index: 600;
  font-size: 30px;
  cursor: pointer;
}
/* RESPONSIVE CSS */
@media (max-width: 979px) {
  .nav-collapse {
    top: -14px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  }
  .nav-collapse .nav>li>a {
    font-weight: normal;
  }
  #navbar {
    position: fixed;
  }
  #navbar li a {
    margin: 0;
  }
  #navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  #navbar .brand {
    margin-left: 5px;
  }
  #contact.open {
    letter-spacing: 0.25em;
  }
  #contact.open .contact-form textarea {
    height: 35px;
    margin-bottom: 0;
  }
  #contact.open .container {
    background-position: 0 20px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 80px;
    line-height: 70px;
  }
  h2 {
    font-size: 60px;
    line-height: 70px;
  }
  body {
    padding: 0;
  }
  .contact-details a {
    display: block;
  }
  .carousel-replacement {
    color: #fff;
    text-shadow: 0 1px 3px #000;
  }
}
