/* GLOBAL STYLES */
body {
  font: 14px "webfontregular", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #000;
}
h1,
h2,
h3 {
  color: #221;
}
h1 {
  font-size: 130px;
  line-height: 110px;
}
h2 {
  font-size: 100px;
  line-height: 90px;
}
h3 {
  font-weight: normal;
  font-size: 50px;
  line-height: 40px;
}
h4 {
  font-size: 30px;
  line-height: 25px;
}
a,
a:hover,
a:visited {
  color: #0cbce3;
  cursor: pointer;
}
a:hover {
  color: #011d28;
}
.resize-page {
  position: relative;
  background-color: #eff1e6;
  padding: 50px 0 50px 0;
  text-align: center;
}
.resize-page h1:first-child {
  padding-top: 100px;
}
.resize-page .marker {
  position: absolute;
  top: 0;
}
.page-shade {
  box-shadow: inset 0 0 100px 0 rgba(0,0,0,0.1);
}
.navbar {
  height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.navbar .navbar-inner {
  background: #eff1e6;
  height: 50px;
  box-shadow: 0 5px 0 0 rgba(0,0,0,0.1);
}
.navbar .nav li a {
  letter-spacing: 3px;
  font-size: 15px;
  padding: 17px 20px 0 20px;
  margin: 0 10px 0 0;
  color: #0cbce3;
}
.navbar .nav li.active a,
.navbar .nav li.active a:hover {
  background-color: #eff1e6;
  box-shadow: none;
  color: #011d28 !important;
  border-bottom: 2px solid #0cbce3;
}
.navbar a.brand {
  background: #011d28 url("/images/countable-title.png") 0 0 no-repeat;
  width: 253px;
  height: 36px;
  padding: 0;
  margin: 9px 0;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
/* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
/* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 80px;
  color: #eff1e6;
}
#why .container {
  background-image: url("/images/voyager-translucent.png");
  background-position: 0 260px;
  background-repeat: no-repeat;
  text-align: left;
}
#why .container .row {
  min-height: 500px;
}
#why .container section {
  padding: 30px 0 0 0;
  clear: both;
}
#why .container section:before {
  content: "{";
  float: left;
  padding: 0 20px 0 0;
  font-size: 120px;
  font-family: serif;
  line-height: 110px;
  color: #ccb;
}
#who .client {
  min-height: 240px;
}
#who .client .repr {
  height: 110px;
  padding: 10px;
}
::-webkit-input-placeholder {
/* WebKit browsers */
  color: #011d28;
  text-transform: uppercase;
}
:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #011d28;
  text-transform: uppercase;
}
::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: #011d28;
  text-transform: uppercase;
}
:-ms-input-placeholder {
/* Internet Explorer 10+ */
  color: #011d28;
  text-transform: uppercase;
}
#credits {
  color: #eff1e6;
}
#credits h1 {
  color: #eff1e6;
}
#contact {
  z-index: 500;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  box-shadow: 0 -4px 0 rgba(0,0,0,0.3);
}
#contact .contact-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: url("/images/diag-bg.png") repeat;
}
#contact .contact-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 15px 80px 0 80px;
  background-color: #eff1e6;
  font-size: 20px;
}
#contact .contact-body {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 180px;
  background-color: #0cbce3;
}
#contact .contact-info {
  font-size: 40px;
  position: absolute;
  top: 40px;
  left: 80px;
}
#contact .contact-info a {
  color: #fff;
  font-weight: bold;
}
#contact .contact-form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px 40px 0 0;
  width: 240px;
  font-family: Arial;
}
#contact .contact-form label {
  display: none;
}
#contact .contact-form textarea {
  height: 60px;
}
#contact .contact-form input,
#contact .contact-form textarea {
  padding: 5px;
  display: block;
  width: 100%;
  margin: 0 0 5px 0;
  background-color: #eff1e6;
}
#contact .contact-form button,
#contact .contact-form input,
#contact .contact-form textarea {
  border-width: 0px;
  border-radius: 0px;
}
#contact .contact-form button {
  position: absolute;
  right: 250px;
  bottom: 10px;
  padding: 25px 15px;
  background: #011d28;
  color: #eff1e6;
  font-size: 20px;
  text-shadow: none;
  text-transform: uppercase;
}
#contact .close-contact {
  display: none;
  position: absolute;
  top: 11px;
  right: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #011d28;
  cursor: pointer;
}
#contact.open {
  height: 230px;
}
#contact.open .close-contact {
  display: block;
}
#contact.open .contact-body {
  display: block;
}
/* PARALLAX */
ul.parallax-viewport {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background: #011d28;
  background-size: cover;
  list-style: none;
  margin: 0;
  min-height: 650px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
ul.parallax-viewport li.overlay {
  position: absolute;
  z-index: 300;
  margin-top: 0;
  top: 50%;
  width: 100%;
}
ul.parallax-viewport li.overlay .logo {
  width: 1px;
}
ul.parallax-viewport li.overlay .slogan {
  display: none;
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  padding: 0 0 0 10px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
ul.parallax-viewport li.overlay .slogan p.we {
  margin-left: 40px;
  font-size: 70px;
  letter-spacing: 60px;
  line-height: 100px;
  color: #0cbce3;
}
ul.parallax-viewport li.overlay .slogan p.tomorrows {
  font-size: 95px;
  line-height: 130px;
  letter-spacing: 12px;
  color: #eff1e6;
}
ul.parallax-viewport li.overlay .slogan p.web-apps {
  margin-left: 10px;
  font-size: 140px;
  line-height: 140px;
  letter-spacing: 17px;
  color: #eff1e6;
}
ul.parallax-viewport li.parallax-layer {
  bottom: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
ul.parallax-viewport li.parallax-layer.layer1 {
  background: url("/images/layer1.png") repeat 0 100%;
  width: 2020px;
}
ul.parallax-viewport li.parallax-layer.layer2 {
  background: url("/images/layer2.png") repeat 0 100%;
  width: 2120px;
}
ul.parallax-viewport li.parallax-layer.layer3 {
  background: url("/images/layer3.png") repeat 0 100%;
  width: 2320px;
}
ul.parallax-viewport li.parallax-layer.layer3 .overflow-left,
ul.parallax-viewport li.parallax-layer.layer3 .overflow-right {
  bottom: 0;
  position: absolute;
  width: 357px;
  height: 1170px;
}
ul.parallax-viewport li.parallax-layer.layer3 .overflow-left {
  left: 0;
}
ul.parallax-viewport li.parallax-layer.layer3 .overflow-right {
  right: 0;
}
/* Carousel base class */
.carousel .container {
  position: relative;
  z-index: 9;
  text-align: center;
}
.carousel .carousel-inner {
  position: relative;
}
.carousel .carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  background-color: transparent;
  border: 0;
  opacity: 1;
  color: #000;
}
.carousel .carousel-control:hover,
.carousel .item {
  height: 600px;
}
.carousel .howto {
  height: 100px;
  border: 2px dashed #000;
  border-radius: 75px;
  padding: 25px;
  float: left;
  width: 100px;
  margin: 10px 0 0 50px;
}
.carousel .howto i {
  font-size: 80px;
}
.carousel .howto i.smaller {
  font-size: 40px;
}
.carousel .carousel-caption {
  padding: 0 20px 0 20px;
  top: 0;
  left: 40px;
  right: 40px;
  background-color: transparent;
}
.carousel .carousel-caption h3 {
  margin-bottom: 0.5em;
}
.carousel .carousel-caption a {
  text-decoration: underline;
}
.carousel .carousel-caption p {
  font-size: 16px;
  color: #000;
}
/* RESPONSIVE CSS */
@media (max-width: 979px) {
  .nav-collapse {
    top: -14px;
    background-color: #eff1e6;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  }
  .nav-collapse .nav>li>a {
    font-weight: normal;
  }
  #navbar {
    position: fixed;
  }
  #navbar li a {
    margin: 0;
  }
  #navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  #navbar .brand {
    margin-left: 5px;
  }
  #contact.open {
    letter-spacing: 0.25em;
  }
  #contact.open .contact-form textarea {
    height: 35px;
    margin-bottom: 0;
  }
  #contact.open .container {
    background-position: 0 20px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 80px;
    line-height: 70px;
  }
  h2 {
    font-size: 60px;
    line-height: 70px;
  }
  body {
    padding: 0;
  }
  .contact-details a {
    display: block;
  }
}
